<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="voidash.github.io/blog/css/main.css">
	</head>
	<body>
		<nav>
    			<ul>
          <li><a href="#">My recent Projects</a></li>
          </ul>
		</nav>
		<div class="container">
    	{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ashish.thapa477@gmail.com">email</a></li>
        		<li><a href="https://github.com/voidash">github.com/voidash</a></li>
            <li><a href="https://www.facebook.com/gmaashish">https://www.facebook.com/gmaashish</a></li>
			</ul>
		</footer>
	</body>
</html>
